{% extends "base.html" %}

{% block title %}Класс {{ class_info.name }} - UML Генератор{% endblock %}

{% block content %}
<h1 class="text-center">Класс: {{ class_info.name }}</h1>
<p>{{ class_info.info }}</p>

<h2>Атрибуты:</h2>
<ul>
    {% for attr in class_info.attributes %}
        <li>{{ attr }}</li>
    {% endfor %}
</ul>

<h2>Методы:</h2>
<ul>
    {% for method in class_info.methods %}
        <li>{{ method }}</li>
    {% endfor %}
</ul>

<p><a href="{{ url_for('diagram') }}" class="btn btn-secondary">Вернуться к диаграмме</a></p>
{% endblock %}