{% extends "base.html" %}

{% block title %}Диаграмма - CodeMorph{% endblock %}

{% block content %}
<h1 class="text-center">UML Диаграмма</h1>
<div id="uml-container">
    <div id="uml-diagram"></div>
</div>
{% endblock %}

{% block scripts %}
<!-- Передаём данные в JavaScript -->
<script>
    var classesData = {{ classes_data | tojson }};
</script>

<!-- Подключаем Mermaid.js и svg-pan-zoom -->
<script src="{{ url_for('static', filename='js/mermaid.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/svg-pan-zoom.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/diagram.js') }}"></script>
{% endblock %}